<template>
    <div class="footer-container">
        <img  src="https://imobiliaria.ruadois.com.br/_nuxt/img/e33dd7c.png" height="30px" alt="logo ruadois" />
        <p>Estágio Front-End</p>
    </div>
</template>

<script>
export default {
    name: 'Footer',
}
</script>

<style scoped>
.footer-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 132px;
    background: #f0f0f0;
    color: #0059A3;
    position: relative;
    bottom: 0;
    justify-content: space-between;
    margin-top: 2%;
}

img {
    padding: 3%;
}

p {
    padding: 3%;
    font-size: 25px;
    font-weight: 500;
}

</style>