<template>
    <div class="navbar-container">
        <router-link to="/">
            <img  src="https://imobiliaria.ruadois.com.br/_nuxt/img/e33dd7c.png" height="50px" alt="logo ruadois" />
        </router-link>
    </div>
</template>

<script>
export default {
    name: 'Navbar',
}
</script>

<style scoped>
.navbar-container {
    width: 100%;
    height: 132px;
}

img {
    padding: 3%;
}

</style>