<template>
    <router-link :to="{ path: '/user/'+this.user.id }">
        <div class="container-user">
            <img :src="user.avatar" width="128px" height="128px" />
            <div class="text">
                <p>{{user.username}}</p>
                <small>{{user.email}}</small>
            </div>
        
        </div>
    </router-link>
</template>

<script>
export default {
    name: 'User',
    props: {
        user: Object
    }
}
</script>

<style scoped>

* {
    text-decoration: none;
}

.container-user {
    margin-bottom: 5vh;
    display: flex;
    background: white;
    align-items: center;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text {
    margin-right: 1vw;
    font-size: 120%;
    margin-left: 1vw;
}

img {
    padding: 5%;
}

p {
    margin-bottom: 6%;
    font-size: 30px;
    color: #000000;
}

small {
    font-size: 30px;
    color: #979797;
}

</style>