<template>
    <div class="main-container">           
        <div class="profile-card">
            <img :src="user.avatar" alt="avatar" width="128px" height="128px" />
            <div class="profile-text">
                <p>{{user.username}}</p>
                <small>{{user.name}}</small>
            </div>
        </div>

        <div class="sections">
            <div class="left-section">
                <small>E-mail</small>
                <p>{{user.email}}</p>
                <small>Descrição</small>
                <p>{{user.description}}</p>

                <router-link :to="{ path: '/user/'+this.id+'/update' }">
                    <button class="button-update" type="submit">Editar</button>
                </router-link>
            </div>

            <div class="right-section">
                <small>Endereço</small>
                <p>{{user.address}}</p>
                <small>Sobre</small>
                <p>{{user.about}}</p>

                <button class="button-delete" type="submit" @click="deleteUser()">Excluir</button>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Detail',
  data() {
      return {
          id: this.$route.params.id,
          user: Object
      }
  },
  props: {
  },
  created: async function() {
    await axios.get(`http://5f88a118a8a2b5001641ef57.mockapi.io/ruadois/api/users/${this.id}`).then(response => {
      this.user = response.data;
      console.log(this.user);
    });
  },
  methods: {
      async deleteUser() {
          await axios.delete(
              `http://5f88a118a8a2b5001641ef57.mockapi.io/ruadois/api/users/${this.id}`,
          );
          window.location.href = "/";
      }
  }
}
</script>

<style scoped>
.main-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.profile-card {
    margin-top: 3%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    margin-left: 10%;
}

.profile-card p {
    font-weight: 500;
    font-size: 60px;
}

.profile-card small {
    margin-top: 1%;
    font-weight: 500;
    font-size: 40px;
    color: #979797;
}

.profile-text {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}

.sections {
    display: flex;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sections small {
    font-size: 30px;
    color: #979797;
}

.sections p {
    font-size: 40px;
    color: #000000;
    margin-bottom: 5%;
}

.left-section {
    display: flex;
    flex-direction: column;
    margin-right: 20%;
}

button {
    display: flex;
    cursor: pointer;
    width: 12vw;
    height: 50px;
    border: 0;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 5%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    transition: filter 0.2s;
    align-items: center;
    justify-items: center;
    text-justify: center;
}

button:hover {
    filter: brightness(130%);
}

.button-update {
    color: #0059a3;
    border: 2px solid #0059a3;
}

.button-delete {
    color: #c30808;
    border: 2px solid #c30808;
}
</style>