<template>
  <div class="main-container">
        <router-link class="button" to="/register" exact>
            <button type="submit">Cadastrar Usuário</button>
        </router-link>
        <div class="user-list">
            <div v-for="item in pageOfItems" :key="item.id">
              <User :user="item" />
            </div>
        </div>
        <div class="pagination-footer">
            <jw-pagination :items="items" @changePage="onChangePage" :labels="customLabels" />
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import User from "../components/User";

const customLabels = {
  first: '<<',
  last: '>>',
  previous: '<',
  next: '>'
}

export default {
  name: 'List',
  created: async function() {
    await axios.get("http://5f88a118a8a2b5001641ef57.mockapi.io/ruadois/api/users").then(response => {
      this.items = response.data;
    })
  },
  components: {
    User
  },

  data() {
    return {
      items: [],
      pageOfItems: [],
      customLabels,
    };
  },
  methods: {
    onChangePage(pageOfItems) {
      this.pageOfItems = pageOfItems;
    }
  }
}
</script>

<style scoped>

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
    display: flex;
    background: #0059a3;
    cursor: pointer;
    width: 12vw;
    height: 50px;
    border: 0;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 5%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    transition: filter 0.2s;
    align-items: center;
    justify-items: center;
    text-justify: center;
    margin-bottom: 5vh;
}

button:hover {
    filter: brightness(130%);
}

.pagination-footer {
  border: 1px solid gray;

}

.user-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
}

@media(max-width: 1000px) {
    .user-list {
        display: flex;
        flex-direction: column;
    }
}
</style>
