<template>
    <div class="form-container">
        <form>
            <h1> Cadastre um usuário</h1>

            <input placeholder="E-mail" v-model="userInput.email" />
            <input placeholder="Usuário" v-model="userInput.username" />
            <input placeholder="Nome" v-model="userInput.name" />
            <input placeholder="Avatar (link)" v-model="userInput.avatar" />
            <input placeholder="Descrição" v-model="userInput.description" />
            <input placeholder="Endereço" v-model="userInput.address" />
            <input placeholder="Sobre" v-model="userInput.about" />

            <button type="submit" @click="createUser()">Cadastrar</button>
        </form>
    </div>
</template>

<script>
import axios from 'axios';

export default {
  name: "Register",
  created: async function() {
    await axios.get("http://5f88a118a8a2b5001641ef57.mockapi.io/ruadois/api/users").then(response => {
      this.users = response.data;
    });
    this.lastId = Number(this.users.pop().id);
  },
  data() {
      return {
          lastId: Number,
          userInput: {
              id: this.lastId+1,
              createdAt: new Date(),
              name: "",
              avatar: "",
              email: "",
              username: "",
              description: "",
              address: "",
              about: "",
              active: true
          }
      }
  },
  methods: {
      async createUser() {
        if (
            this.userInput.name === "" ||
            this.userInput.avatar === "" ||
            this.userInput.email === "" ||
            this.userInput.username === "" ||
            this.userInput.description === "" ||
            this.userInput.address === "" ||
            this.userInput.about === ""
        ) {
            alert("Preencha todos os campos!")
        } else {
          await axios.post(
              "http://5f88a118a8a2b5001641ef57.mockapi.io/ruadois/api/users",
              this.userInput
          );
          window.location.href = "/";
        }
      }
  }
}
</script>

<style scoped>
.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-container h1 {
    font-size: 35px;
    margin-bottom: 5%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}
form input {
    width: 100%;
    height: 60px;
    color: #333333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    font: 400 18px Roboto, sans-serif;
    margin-bottom: 3%;
}

button {
    display: flex;
    background: #0059a3;
    cursor: pointer;
    width: 12vw;
    height: 50px;
    border: 0;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 5%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    transition: filter 0.2s;
    align-items: center;
    justify-items: center;
    text-justify: center;
}

button:hover {
    filter: brightness(130%);
}

</style>