<template>
    <div class="form-container">
        <form>
            <h1> Edite o usuário</h1>

            <input v-model="user.email" />
            <input v-model="user.username" />
            <input v-model="user.name" />
            <input v-model="user.avatar" />
            <input v-model="user.description" />
            <input v-model="user.address" />
            <input v-model="user.about" />

            <button type="submit" @click="updateUser()">Editar</button>
        </form>
    </div>
</template>

<script>
import axios from 'axios';

export default {
  name: "Update",
  created: async function() {
    await axios.get(`http://5f88a118a8a2b5001641ef57.mockapi.io/ruadois/api/users/${this.id}`).then(response => {
      this.user = response.data;
    });
  },
  data() {
      return {
          id: this.$route.params.id,
          user: Object
      }
  },
  methods: {
      async updateUser() {
          await axios.put(
              `http://5f88a118a8a2b5001641ef57.mockapi.io/ruadois/api/users/${this.id}`,
              this.user
          );
          window.location.href = "/";
      }
  }
}
</script>

<style scoped>
.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-container h1 {
    font-size: 35px;
    margin-bottom: 5%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}
form input {
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    font: 400 18px Roboto, sans-serif;
    margin-bottom: 3%;
}

button {
    display: flex;
    background: #0059a3;
    cursor: pointer;
    width: 12vw;
    height: 50px;
    border: 0;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 5%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    transition: filter 0.2s;
    align-items: center;
    justify-items: center;
    text-justify: center;
}

button:hover {
    filter: brightness(130%);
}
</style>